.main{
    padding-left: 50px;
}


.custom-keys {
    display: flex;
    padding: 0.25rem;
}
.key {
    font-size: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    cursor: pointer;
}
